<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">


    
    <title>{% block title %}{% endblock %} - My Application</title>
     
        {% block scripts %}
    {{super()}}
    {{moment.include_moment()}}
    {% endblock %}

    


    {% endblock %}
</head>
<body>
    {% block body %}

    {% endblock %}
</body>
</html>